ros_node/taranis_rec/.vscode/**
ros_node/espcomm/.vscode/**
ros_node/vicon_bridge/.vscode/**
*.mexw64
matlab_code/NMPC/simpleHeliMPC_LIVE_RUN.mexw64
*.mexw64
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

*VC.*

*.json
esp_code/ESPController/ESPController/.vs/ESPController/v16/ipch/AutoPCH/70d2788e91489ca5/.ESPCONTROLLER.VSARDUINO.ipch
esp_code/ESPController/ESPController/.vs/ESPController/v16/.suo
esp_code/ESPController/ESPController/.vs/ESPController/v16/Browse.VC.db-wal
*.ipch
