<launch>
    <node pkg="vicon_bridge" type="vicon_bridge" name="vicon_bridge" output="screen"/>
    <node pkg="espcomm" type="espcomm_node.py" name="espcomm" output="screen"/>
    <node pkg="trajectory_generator" type="trajectory_generator.py" name="trajectory_generator" output="screen"/>
    <node pkg="extended_kf" type="extended_kf" name="extended_kf" output="screen"/>
    <node pkg="mpc_node" type="mpc_node" name="mpc_node" output="screen"/>
    <node pkg="adaptive_element" type="adaptive_element" name="adaptive_element" output="screen"/>
</launch>